
  <div class="ModuleTitle">
    <h3>{{ 'LAUNCH_QUIZ' | translate }}</h3>
</div>
  <div class="DashboardTile">
  <label>{{ 'ENTER_SUBJECT' | translate }}</label>  <br/>
  <input type="text" #articleNameInput value={{targetInputValue}} (keyup.enter)="clickCreateQuiz(articleNameInput.value,maxQuestionsInput,maxChoicesInput)" 
  placeholder="{{ 'EXEMPLES' | translate }}"/>
  <div class="loadingStatus"  [ngClass]="{'loadingStatus':true, 'loadingStatusOK': (articleStatus == 'Finished Loading')|| (articleStatus == 'Chargement terminé')}"
  >{{articleStatus}}</div>

  <div *ngIf=showSuggestions class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    {{ 'SUGGESTION_QUIZ' | translate }} 
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li class="suggestionElement" role="menuitem" *ngFor="let suggestion of suggestionsList; let i = index" 
    (click)="clickCreateQuiz(suggestion,maxQuestionsInput,maxChoicesInput)"
    >
      {{suggestion}}

    </li>
  </ul>
</div>

  <div class="BigButtonStyle">
   
    <button type="button" class="btn btn-lg" (click)="clickCreateQuiz(articleNameInput.value,maxQuestionsInput,maxChoicesInput)">{{ 'LAUNCH_QUIZ' | translate }}</button>

  </div>

  
  <div class="CreateButtonStyle">
      <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            {{language}} 
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><div (click)="onClickLanguage('en')" class="dropdown-item">En</div></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><div (click)="onClickLanguage('fr')" class="dropdown-item">Fr</div>
          </ul>
        </div>
  <button type="button" class="btn btn-primary"
  (click)="isCollapsed = !isCollapsed">Options
</button>
</div>

<div (collapsed)="collapsed($event)"
(expanded)="expanded($event)"
[collapse]="isCollapsed">
<div>
    <div class="DashboardTile">


  <label>{{ 'MAX_QUESTIONS' | translate }}</label> 
  <br/>
  <input type="text" #maxQuestionsInput value={{maxQuestionsValue}} size="2"/>

  <div class="btn-group">
      <label class="btn btn-primary" (click)="QuestionsDec()" btnCheckbox>-</label>
      <label class="btn btn-primary" (click)="QuestionsInc()" btnCheckbox>+</label>
      
    </div>
    <br>
  <label>{{ 'MAX_CHOICES' | translate }}</label> 
  <br/>

  <input type="text" #maxChoicesInput value={{maxChoicesValue}}  size="2"/>
  <div class="btn-group">
    <label class="btn btn-primary" (click)="ChoicesDec()" btnCheckbox>-</label>
    <label class="btn btn-primary" (click)="ChoicesInc()" btnCheckbox>+</label>
</div>
<div class="checkbox">
    <label><input #checkBoxShowAnswer type="checkbox" (change)=onChangeShowAnswerCheckBox() value=""><b>{{ 'SHOW_ANSWER' | translate }}</b></label>
  </div>
 
<div class="CreateButtonStyle">
    
    <button type="button" class="btn btn-primary" (click)="onClickClearQuizesList()">
      {{ 'CLEAR_LIST_QUESTION' | translate }}
    </button>
 
  </div>
  </div>
</div>
</div>
</div>
   

