
  <div class="ModuleTitle">
    <h2>Create Quiz</h2>
</div>
  <div class="DashboardTile">
  <label>Enter Article:</label> <input type="text" #articleNameInput value="Paris"/>

  <div class="CreateButtonStyle">
    
    <button type="button" class="btn btn-primary" (click)="clickCreateQuiz(articleNameInput,maxQuestionsInput,maxChoicesInput)">
      Create Quiz
    </button>
 
  </div>
  <div >{{loading}}</div>

  <label>Max Questions:</label> 
  <br/>
  <input type="text" #maxQuestionsInput value={{maxQuestionsValue}} size="2"/>

  <div class="btn-group">
      <label class="btn btn-primary" (click)="QuestionsDec()" btnCheckbox>-</label>
      <label class="btn btn-primary" (click)="QuestionsInc()" btnCheckbox>+</label>
      
    </div>
    <br>
  <label>Max Choices:</label> 
  <br/>

  <input type="text" #maxChoicesInput value={{maxChoicesValue}}  size="2"/>
  <div class="btn-group">
    <label class="btn btn-primary" (click)="ChoicesDec()" btnCheckbox>-</label>
    <label class="btn btn-primary" (click)="ChoicesInc()" btnCheckbox>+</label>
</div>
</div>
   

