.CreateButtonStyle
{
    margin-top: 10px;
    align-items: center;
    

}

.BigButtonStyle
{
    margin-top: 10px;
    align-items: center;
    

}

.BigButtonStyle button
{
   
    background-color:white;
    border-style:solid;
    border-color:black;
}

.loadingStatus
{
    text-align: center;
    color:red;
    font-weight: bold;
}
.loadingStatusOK
{
    text-align: center;
    color:green;
    font-weight: bold;
}

.CreateTileStyle
{
    text-align: center;
   
}

.suggestionElement
{

    cursor:pointer;
}