/*
.Carousel  tr td{
    
     
 
     padding-left: 15px;
     margin-right: 15px;
     color: #304269;
     text-align:center;
    
 

 }*/

.Carousel table{
background-color: #304269;
color:white;
margin-left:10px;
 }


 .Carousel_all{
    text-align:center;
    background-color: lightgray;
 }

 .carouselCard{
    background-color: #304269;
    cursor:pointer;

 }