
<div *ngIf=currentQuestion class="ModuleTitle">
    <h2 *ngIf=quiz.is_finished>Quiz Result</h2>
    <h2 *ngIf=!quiz.is_finished>Answer Quiz</h2>
    </div>
<div *ngIf=currentQuestion class="DashboardTile">
  
  <h3 *ngIf=quiz.is_finished> {{totalScoreString}}</h3>
  
  <div *ngIf= !quiz.is_finished>
      <h3>Page: {{currentQuestionIndex+1}} / {{quiz.toasts_list.length}}</h3>
    <div class="btn-group">
        <label class="btn btn-primary" (click)="onClickPreviousQuestion()" btnCheckbox>Previous</label>
      <label class="btn btn-primary" (click)="onClickNextQuestion()" btnCheckbox>{{NextButtonValue}}</label>
      
      
    </div>

    <div
    *ngFor="let article of currentQuestion.article_shuffle_list; let j = index"
    
  >
  <div 
  [ngClass]="{'QuestionChoiceElement':true, 'QuestionChoiceElementSelected': (article.user_answer == true), 'QuestionChoiceElement': (article.user_answer == false) }"
  class="QuestionChoiceElement" (click)="onClickSelectQuestion(j)">
    {{j+1}} - {{ article.article_name }}
  </div>
      
  </div>
</div>
</div>
