<div class="ModuleTitle">
  <h2>Article Details</h2>
</div>
  <div *ngIf=article  [ngClass]="{'ArticleElementTile':true, 'ArticleElementTile_OK': (article.wiki_correct === true), 'ArticleElementTile_KO': (article.wiki_correct == false &&  article.user_answer==true) }"> 
     
 
    Wikipedia Article: 
    <h4>{{article.article_name}}</h4>
    
    <div *ngIf=article.wiki_link><a href={{article.wiki_link}}>Wikipedia Link </a></div>
      
      <img *ngIf=article.thumbnail_url height='100' width='150' [src]="sanitizer.bypassSecurityTrustUrl(article.thumbnail_url)"/>
     

      
  </div>

  

