
  <div *ngIf=quiz >
    <div *ngIf=quiz.is_finished >
        <div class="ModuleTitle">
            <h2>Results Details</h2>
          </div>
        <div *ngIf=quiz.is_finished class="DashboardTile">
    <h4> Name: <b> {{quiz.target_name}}</b></h4>
    <h4 *ngIf=quiz.start_timestamp>Start time:<b> {{quiz.start_timestamp}}</b></h4>
    <h4>Score: <b>{{quiz.final_score}}% ({{quiz.good_answers_count}}/{{quiz.toasts_list.length }})</b> </h4>
    <hr>
   
   <div *ngIf=quiz>
   
   
    <accordion>
   
<accordion-group *ngFor="let question of quiz.toasts_list; let i = index" class="QuestionAccordionElement">
    
    <div accordion-heading>
        Question {{i+1}}
        <span *ngIf=question.answered_ok class="badge badge-secondary float-right pull-right">Passed</span>
        <span *ngIf= !question.answered_ok class="badge badge-secondary float-right pull-right">Failed</span>
    </div>
        <div
        *ngFor="let article of question.article_shuffle_list; let j = index"
        (mouseenter)="onSelect(article)"
      >
      
      <div 
      [ngClass]="{'QuestionChoiceElement':true, 'QuestionChoiceElementPassed': (article.wiki_correct == true), 'QuestionChoiceElementFailed': (article.wiki_correct == false &&  article.user_answer==true) }"
      class="QuestionChoiceElement">
          
          
        
        <div style='text-align: center;' *ngIf= question.imageQuestion >
          {{j+1}} - <img height='100' width='150' [src]="sanitizer.bypassSecurityTrustUrl(article.thumbnail_url)"/>
      
         </div>
         <div *ngIf= !question.imageQuestion >
          {{j+1}} - {{ article.article_name }}
      
         </div>
      </div>
      
          
    </div>
  
  </accordion-group>
  </accordion>
   </div>
  </div>
</div>
</div>

