
<div class="ModuleTitle">
      <h2>Quiz List</h2>
    </div>     
      <div *ngIf=quizesList.length class="DashboardTile">
        <div class="QuizElementTile"
          *ngFor="let quiz of quizesList ; let ind = index"
          (click)="onSelect(quiz,ind)"
           [ngClass]="{'QuizElementTile': (selectedIndex !== ind), 'QuizElementTileSelected': (selectedIndex === ind) }"
        >
          <b>{{ quiz.target_name }}</b> ({{ quiz.language }}) <br> {{quiz.toasts_list.length}} Questions
          <br>
          <div *ngIf= !quiz.is_finished> 
            <div *ngIf= !quiz.is_started>
              <div *ngIf= quiz.is_selected >ON PROGRESS</div>
              <div *ngIf= !quiz.is_selected >START QUIZ</div>
              </div>
            <div *ngIf= quiz.is_started>
                <div *ngIf= quiz.is_selected >ON PROGRESS</div>
                <div *ngIf= !quiz.is_selected >RESUME QUIZ</div>

            </div>
            </div>
            
          <div *ngIf= quiz.is_finished> QUIZ FINISHED</div>
      </div>
        </div>
  
          
      


