
<div *ngIf=quizesList.length class="ModuleTitle">
      <h3>{{ 'QUIZ_LIST' | translate }}</h3>
  </div>     
      <div *ngIf=quizesList.length class="DashboardTile">
        <div class="QuizElementTile"
          *ngFor="let quiz of quizesList ; let ind = index"
          (click)="onSelect(quiz,ind)"
           [ngClass]="{'QuizElementTile': (selectedIndex !== ind), 'QuizElementTileSelected': (selectedIndex === ind) }"
        >
          <b>{{ quiz.target_name }}</b> ({{ quiz.language }}) <br> {{quiz.toasts_list.length}} Questions
          <br>
          <div *ngIf= !quiz.is_finished> 
            <div *ngIf= !quiz.is_started>
              <div *ngIf= quiz.is_selected >{{ 'PROGRESS_QUIZ' | translate }}</div>
              <div *ngIf= !quiz.is_selected >{{ 'START_QUIZ' | translate }}</div>
              </div>
            <div *ngIf= quiz.is_started>
                <div *ngIf= quiz.is_selected >{{ 'PROGRESS_QUIZ' | translate }}</div>
                <div *ngIf= !quiz.is_selected >{{ 'RESUME_QUIZ' | translate }}</div>

            </div>
            </div>
            
          <div *ngIf= quiz.is_finished> {{ 'FINISHED_QUIZ' | translate }} <br/>
            {{quiz.final_score}}%

          </div>
      </div>
        </div>
  
          
      


