.QuizElementTile
{
   
    background-color: #304269; 
    margin: 10px;
   color:white; 
     
   border: 1px solid black;       
     
   border-radius: 3px;
   
     text-align:center;
     cursor:pointer;
}

.QuizElementTileSelected
{
   
    background-color: rgb(235, 238, 84); 
    margin: 10px;
   color:black; 
     
   border: 1px solid black;     
   border-radius: 3px; 
    
   cursor:pointer;
     text-align:center;
}

