<div class="DashboardTile">
    <label> {{ 'SAVE_TITLE' | translate }}</label> <input type="text" #usernameInput placeholder="{{'ENTER_NAME' | translate}}"/>
    <div class="CreateButtonStyle"><button type="button" class="btn btn-primary" (click)="onClickSaveQuizList(usernameInput)">
      {{ 'SAVE' | translate }}
  </button>
</div>
<div class="CreateButtonStyle">
  <button type="button" class="btn btn-primary" (click)="onClickRetrieveQuizList(usernameInput)">
    {{ 'DOWNLOAD' | translate }}
    </button>
  </div>
</div>