/* You can add global styles to this file, and also import other style files */
.ModuleTitle
{

   
    margin-left: 2px;
    margin-right: 2px;
    background: #304269;
    margin-bottom:8px;
    margin-top:4px;
    border-radius: 3px;
    text-align: center;
    
    color: #f4f4f4;
  padding-bottom:10px;
  padding-top:1px;
 
    

}

.MainTitle
{
   
 margin-left: 2px;
    margin-right: 2px;
    margin-bottom:4px;
background: #304269;

border-radius: 3px;
color:#f4f4f4;
text-align: center;

font-size:250%;
padding-top:4px;
padding-bottom:4px;

}

.HomeStyle
{
    background-color:#f4f4f4;
    
}

.DashboardTile
{

   
   
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
    margin-bottom:4px;
    padding: 10px;
    background: lightgray;
    border: 1px solid #000000;
    border-radius: 3px;
    color: black;
    text-align: center;

}

.DashboardTile input
{

   
   color:black;

}



.TileTitle
{
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
    margin-bottom:2px;  
    
background: #304269;
border: 1px solid #FFFFFF;
border-radius: 3px;
color:#f4f4f4;
}

.FooterBar {
    background: #304269;
    font: bold 12px Arial;
    padding: 7px;
   
    text-align: center;
    color: #f4f4f4;
    border-radius: 3px;
    margin-left:2px;
    margin-right:2px;
    margin-top:0px;
    margin-bottom:2px;
    
}